* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
  color: #0077cc;
  margin-bottom: 10px;
}

.box {
  border: 2px solid #0077cc;
  border-radius: 6px;
  padding: 10px;
}

.box h2 {
  text-align: center;
  color: #0077cc;
  font-weight: 600;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.linha {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
  text-align: center;
  font-size: 1em;
}

button {
  width: 100%;
  background-color: #0077cc;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #0099ff;
}

.resultado-box pre {
  background: #fff;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  white-space: pre-wrap;
  text-align: center;
  font-family: "Courier New", monospace;
  margin-top: 10px;
}
